<div class="categories-box categoriesbox">
  <!-- Categories Box -->
  <!-- <div class="title">Conheça nossas soluções</div> -->
  <ul class="categories-list list">

    <li class="categories-item item -az">
      <a href="/az" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/az.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="AZ"
        >
        <span class="text">AZ</span>
        <span class="small">Plataforma de Aprendizagem</span>
      </a>
    </li>

    <li class="categories-item item -high-five">
      <a href="/high-five" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/high-five.png'); ?>"
          class="img"
          width="172" 
          height="172"
          alt="HIGH FIVE"
        >
        <span class="text">High Five</span>
        <span class="small">Programa Bilíngue</span>
      </a>
    </li>

    <li class="categories-item item -my-life">
      <a href="/my-life" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/my-life.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="My Life"
        >
        <span class="text">My Life</span>
        <span class="small">Educação Socioemocional</span>
      </a>
    </li>

    <li class="categories-item item -plataformas">
      <a href="/ubbu" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/plataformas.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Ubbu"
        >
        <span class="text">Ubbu</span>
        <span class="small">Fluência Digital</span>
      </a>
    </li>

  </ul>
</div>