<div class="grid-banner gridbanner">
  <!-- Categories Box -->
  <ul class="banner-list list">
    <li class="banner-item item -ubbu">
      <a href="https://conexia.com.br/#rec184982229" target="_blank" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/ubbu-grid.png'); ?>"
          class="img"
          width="269" 
          height="430"
          alt="Ubbu"
        >
        <span class="text">Ubbu</span>
      </a>
    </li>

    <li class="banner-item item -figh-five">
      <a href="https://highfiveschool.com.br/" target="_blank" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/highfive-grid.png'); ?>"
          class="img"
          width="554" 
          height="205" 
          alt="High Five"
        >
        <span class="text">High Five</span>
      </a>
    </li>

    <li class="banner-item item -az">
      <a href="http://plataformaaz.com.br" target="_blank" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/az-grid.png'); ?>"
          class="img"
          width="554" 
          height="205"
          alt="AZ"
        >
        <span class="text">Az</span>
      </a>
    </li>
    
    <li class="banner-item item -my-life">
      <a href="https://www.mylifesocioemocional.com.br" target="_blank" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/mylife-grid.png'); ?>"
          class="img"
          width="269" 
          height="430" 
          alt="My Life"
        >
        <span class="text">My Life</span>
      </a>
    </li>
    
  </ul>
</div>